// Colors
$bg-color: rgb(114, 146, 37);
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$navColor: #e6e9ec;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;