// Externals

// Setup
@import "scss/setup/variables";
@import "scss/setup/functions";
@import "scss/setup/mixins";

// Basics
@import "scss/basics/typography";
@import "scss/basics/base";
@import "scss/basics/helpers";
@import "scss/basics/layout";
@import "scss/basics/modals";
@import "scss/basics/animations";

// Pages
@import "scss/pages/soccerTeamApp";

// Components
@import "scss/components/appNav";